<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- remove any machine-wide sources with <clear/> -->
    <clear />
     	 <!-- also get packages from the NuGet Gallery -->
     <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
    <config>
    <add key="http_proxy" value="http://proxyservidores.carubbi.br:6666" />
    <add key="no_proxy" value="carubbi.com.br" />
  </config>
</configuration>